subscription_id       = "14692f20-9428-451b-8298-102ed4e39c2a"
tenant_id             = ""
client_id             = ""
client_secret         = ""
admin_password        = "Sup3rS3cureP4ssw0rd"
admin_username        = "guyser"
consul_ent_url        = "https://releases.hashicorp.com/consul/1.6.2+ent/consul_1.6.2+ent_linux_amd64.zip"
consul_url            = "https://releases.hashicorp.com/consul/1.6.2/consul_1.6.2_linux_amd64.zip"
fabio_url             = "https://github.com/fabiolb/fabio/releases/download/v1.5.11/fabio-1.5.11-go1.11.5-linux_amd64"
vault_ent_url         = "https://releases.hashicorp.com/vault/1.3.0+ent/vault_1.3.0+ent_linux_amd64.zip"
vault_url             = "https://releases.hashicorp.com/vault/1.3.0/vault_1.3.0_linux_amd64.zip"
consullicense         = ""
vaultlicense          = ""
enterprise            = "1"
hostname              = "demostack"
location              = "ukwest"
owner                 = "guybarros"
resource_group        = "demostack"
TTL                   = "24"
servers               = "3"
workers               = "3"
ca_cert_pem           = <<EOF
-----BEGIN CERTIFICATE-----
MIICQDCCAaKgAwIBAgIRALOfLjJN4HUL2tt1vZAvpdEwCgYIKoZIzj0EAwQwPDEh
MB8GA1UEChMYSGFzaGlDb3JwIEVtZWEgRGVtb3N0YWNrMRcwFQYDVQQDEw5zZXJ2
aWNlLmNvbnN1bDAeFw0xOTA3MjIxMDI2MjVaFw0yMDA3MjExMDI2MjVaMDwxITAf
BgNVBAoTGEhhc2hpQ29ycCBFbWVhIERlbW9zdGFjazEXMBUGA1UEAxMOc2Vydmlj
ZS5jb25zdWwwgZswEAYHKoZIzj0CAQYFK4EEACMDgYYABAHs4Zk3bDzk44RjQJ2p
a/6HFw/hqTt8lJDS3HTDJqfg/D930FiNlR7Df/fdaRlx8Ffa3ETAk2eJFZhaLsaA
O6lN1gDrJzZkv3G7VXY7yBMYX0hfXckSuAhrXmg2cmDDfvm0Y+VtnoZqe+VIj7m8
u0GZ895A63Wem1ulQ72jnVJMUu/phKNCMEAwDgYDVR0PAQH/BAQDAgGGMA8GA1Ud
EwEB/wQFMAMBAf8wHQYDVR0OBBYEFNTHJSmTe/OKg0TTEiITvznLToIJMAoGCCqG
SM49BAMEA4GLADCBhwJCAMl+KKgGCvay2CTH0E3YRjJZJoDdxfPnFEVUafzqdz1e
WldKXNyg0nlTtWDpB8li2FgfnLezjeN2dTKgTUUeqRmWAkFwN+5L32Jd3F2gwSQC
K7RXbS8MAU9paQy+28+4G5vmYw0Cvd7ESZXKqUXI8hjWTdbQxtY8+hoNyGMLLEI4
i9dnSw==
-----END CERTIFICATE-----
EOF
ca_key_algorithm      = "ECDSA"
ca_private_key_pem    = <<EOF
-----BEGIN EC PRIVATE KEY-----
MIHcAgEBBEIB/mqjF12WZsX4aEo90hFLM4Ua15skOSAoe9znFmxS7ooU/ciTDH5X
LjtBPoM3z6sUBeTeTDLSs3fFNTv3ftVFN9GgBwYFK4EEACOhgYkDgYYABAHs4Zk3
bDzk44RjQJ2pa/6HFw/hqTt8lJDS3HTDJqfg/D930FiNlR7Df/fdaRlx8Ffa3ETA
k2eJFZhaLsaAO6lN1gDrJzZkv3G7VXY7yBMYX0hfXckSuAhrXmg2cmDDfvm0Y+Vt
noZqe+VIj7m8u0GZ895A63Wem1ulQ72jnVJMUu/phA==
-----END EC PRIVATE KEY-----
EOF
consul_gossip_key     = "MTI0OTE5MzlkMmQzNmNhMzExMzBjYTEwYzJhNDA5NmE="
consul_join_tag_value = "f639b7efede087f99a32caaa999d5978"
consul_master_token   = "d8834776cd1117b2c454f452599258fa"
